[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
flask = "*"
flask-restful = "*"
pytest = "*"
mock = "*"
setuptools = "*"
wheel = "*"
pymongo = "*"
app = "*"
dnspython = "*"
marshmallow = "*"
requests = "*"
flask-jwt-extended = "*"

[requires]
python_version = "3.7"
